<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навбар</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <div class="marquee">
            <span id="marquee-text">
            <span  class="sentence"></span>
            <span  class="sentence"></span>
            <span  class="sentence"></span>
            <span  class="sentence"></span>

            </span>
        </div>
        <div class="navbar">
            <div class="logo">
                <img src="https://media.discordapp.net/attachments/1270117157988204646/1273156525548109824/Remove-bg.ai_1723614523985.png?ex=66bd96e9&is=66bc4569&hm=f683d6cfb605a15e0665a30678fa0a1dc0d2bd9b4c3b9342db07b50c6626b273&=&format=webp&quality=lossless&width=563&height=563" alt="Логотип">
            </div>
            <div class="buttons">
                <form action="https://google.com"><button type="submit">Главная</button></form>
                <button>Поиск игроков</button>
                <form action="/authorization"><button type="submit">Войти</button></form>
                <button>Зарегистрироваться</button>
            </div>
        </div>
    </div>
    <div class="main-profile">
        <div class="left-menu">
            <button>Профиль</button>
            <button>Игровой профиль</button>
            <button>Настройки аккаунта</button>
          </div>
          <div class="content-area">
            <div class="avatar-status">
              <div class="avatar">Аватарка</div>
              <div class="status">Статус. Список (невидимка, онлайн, не беспокоить)</div>
            </div>
            <div class="user-info">
              <div class="info-item">Отображаемое имя</div>
              <div class="info-item">Логин</div>
              <div class="info-item">Емейл</div>
            </div>
          </div>
    </div>
<script src="marquee.js"></script>
</body>
</html>
