<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="body-style">
    <div class="wrapper">
        <form method="POST" action="/authorization">
            <h1>
                Авторизация
            </h1>
            <div class="input-box">
                <input type="text" name = "loginLabel" placeholder="Логин" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name = "passwordLabel" placeholder="Пароль" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button type="sumbit" class="btn">Авторизироваться</button>
            <div class="register-link"></div>
            <br>
            <p>У вас нет учетной записи?<a href="#">Регистрация</a></p>
        </form>
    </div>
</body>

</html>