
 <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-page</title>
    <link rel="stylesheet" href="/../static/css/style.css">
</head>

<body>
    <header class="top-header">
        <div class="logo">
           <img src="..\static\image\logo.jpg" class="resized-image">
        </div>
        <nav class="login-top-header">
           <ul>
              <p><a href="login-window.html">Войти</a></p>
           </ul>
        </nav>
     </header>
     <h1>{{ username }}</h1>
</body>
</html>